input {
  file {
    path => "/usr/share/logstash/data/input/*.txt"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    codec => "plain"
  }
}

filter {
  grok {
    match => { "message" => "%{URI:url}" }
  }

  ruby {
    code => '
      require "uri"
      begin
        uri = URI.parse(event.get("url"))
        event.set("domain", uri.host)
      rescue URI::InvalidURIError
        event.tag("invalid_url")
      end
    '
  }

  mutate {
    gsub => [
      "domain", "(www\.)?", ""  # Удалить www из доменных имен
    ]
    remove_field => ["message", "url"]  # Удалить ненужные поля
  }

  if "invalid_url" in [tags] {
    drop { }  # Исключить строки с недействительными URL
  }
}

output {
  file {
    path => "/usr/share/logstash/data/output/filtered_file.txt"
    codec => line {
      format => "%{domain}"
    }
  }
}
 
